<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="root-menu" label="MENU">
<item label="xterm" icon="/usr/share/icons/hicolor/48x48/apps/xterm-color.png"><action name="Execute"><command>/usr/bin/xterm</command></action></item>
<item label="Featherpad" icon="/usr/share/icons/hicolor/scalable/apps/featherpad.svg"><action name="Execute"><command>/usr/bin/featherpad</command></action></item>
<item label="Firefox" icon="/usr/share/icons/hicolor/48x48/apps/firefox.png"><action name="Execute"><command>/usr/bin/firefox</command></action></item>
<item label="OBConf" icon="/usr/share/pixmaps/obconf.png"><action name="Execute"><command>/usr/bin/obconf</command></action></item>
<item label="Reload OB"><action name="Reconfigure"/></item>
</menu>
</openbox_menu>
