<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="root-menu" label="MENU">
<item label="Terminal" icon="/usr/share/pixmaps/xterm-color_48x48.xpm"><action name="Execute"><command>/usr/bin/st</command></action></item>
<item label="Chromium" icon="/usr/share/icons/hicolor/48x48/apps/chromium.png"><action name="Execute"><command>/usr/bin/chromium-browser</command></action></item>
<item label="OBConf" icon="/usr/share/icons/hicolor/48x48/apps/obconf-qt.png"><action name="Execute"><command>/usr/bin/obconf-qt</command></action></item>
</menu>
</openbox_menu>
