[Desktop Entry]
Type=Application
Exec=env WAYLAND_DISPLAY=wayland-1 fcitx5 -d --disable=wayland,waylandim,clipboard
Hidden=false
X-GNOME-Autostart-enabled=true
Name=fcitx5
Comment=Start Fcitx5 input method daemon
